<nav class="menu" >
	<div class="smartphone-menu-trigger"></div>
  <header class="avatar">
		
    <h2>SCHOOL MANAGEMENT</h2>
  </header>
	<ul>
    <li  class="icon-dashboard"><span><a routerLink="/home">HOME</a></span></li>
    <li  class="icon-users"><span><a routerLink="/eighth">8th STD</a></span></li>
    <li  class="icon-users"><span><a routerLink="/ninth">9th STD</a></span></li>
    <li  class="icon-users"><span><a routerLink="/tenth">10th STD</a></span></li>
  </ul>
</nav>

<router-outlet></router-outlet>